<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="PoeAcceptedProcessNamesCsv" value="PathOfExileSteam"/>
    
    <add key="CheckForPoeRunningProcess" value="true"/>
    <add key="CheckForPoeRunningProcessIntervalInSeconds" value="15"/>
  </appSettings>
</configuration>